.dropdownIcon svg{
	width: 1rem !important;
    height: 1rem !important;
    margin: 4px 0px 0px 4px !important;
}
.objectIcons {
	border-radius: 0.1rem !important;
}
.objectIcons svg{
	width: 1.4rem !important;
    height: 1.4rem !important;
}
.objectName {
	padding-left: 5px;
    text-align: left;
}
 .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}
.pillSize{
    width: 100% !important;
}
.slds-pill{
    width: 100%;
    justify-content: unset;
}
.noBorder{
    border-color: rgba(243, 15, 15, 0.493); 
}
.slds-input customBorder:focus{
    outline: none;
    border: 0;
}